@import '~antd/es/style/themes/default.less';

.main {
  width: 100%;
  background: @component-background;
}


.ant-page-header-heading{
  display: block;
}
.ant-upload-list-picture-card .ant-upload-list-item {
  width: 210px;
  height: 100px;
}
.ant-modal {
  width: 1000px !important;
}
